@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #31CE81;
  --main-hover-color: #24945e;
  --secondary-color: #72767D;
  --secondary-light-color: #72767db0;
  --secondary-dark-color: #161618;
  --bg-color: #23262D;
  --solo-color: #3181CE;
  --mute-color: #CE3131;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

h1 {
  font-size: 5rem;
  font-weight: 100;
  margin-top: 20vh;
  color: var(--main-color);
  text-align: center;
}

i,
svg {
  pointer-events: none;
}

/* layout */

.drum-rack {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.channel {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sequencer {
  display: flex;
  position: relative;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.light {
  height: 4rem;
  width: 1rem;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

select {
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  color: #bbb;
  background: url(./svg/caret-down-solid.svg) 96% / 15% no-repeat var(--bg-color);
  background-size: 1.3rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer{
  background-color: var(--secondary-dark-color);
  color: var(--secondary-light-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.copy{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0.3rem;
}

.copy-link{
  color: inherit;
  text-decoration: none;
}

.copy-link:hover{
  color: #aaa;
}

/* mute buttons*/

.controls__mute {
  height: 4rem;
  width: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--secondary-color);
}

.solo,
.mute {
  height: 1rem;
  width: 1rem;
  margin: auto;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.solo:hover {
  background-color: var(--solo-color);
  opacity: 50%;
}

.mute:hover {
  background-color: var(--mute-color);
  opacity: 40%;
}

.solo--active {
  background-color: var(--solo-color);
}

.mute--active {
  background-color: var(--mute-color);
  opacity: 70%;
}

/* pads */

.pad {
  height: 4rem;
  width: 5rem;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.step{
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  position: relative;
  line-height: 2rem;
  text-align: center;
  color: var(--secondary-color);
  align-content: flex-end;
}

.step--active{
  color: var(--bg-color);
  background-color: var(--secondary-color);
}

.sequencer__step{
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

.channel__step{
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

.controls__step{
  width: 10rem;
  height: 2rem;

}

.pad:hover {
  background-color: var(--secondary-light-color)
}

.stepper {
  content: '';
  position: absolute;
  background-color: #f00;
  width: 2px;
  overflow: hidden;
  height: 0;
  z-index: 99;
  /* transition: all 0.2s ease; */
  /* animation: stepper 1.3s linear; */
}

/* play button */

.play {
  height: 4rem;
  width: 4rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-color);
}

.fa-play-circle, .fa-stop-circle {
font-size: 4rem;
line-height: 100%;
color: var(--main-color);
}

.play:focus {
  outline: none
}

/* indicators */

.active {
  background-color: var(--main-color);
}

.active.muted {
  background-color: var(--secondary-color);
}

.active:hover {
  background-color: var(--main-hover-color);
}

.qt {
  border-right: solid var(--secondary-color) 6px;
}

